<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865210992068-i18lunlsgbvrebc5ijror22hlidpbvcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865210992068-i18lunlsgbvrebc5ijror22hlidpbvcn</string>
	<key>API_KEY</key>
	<string>AIzaSyD9_HpQz8ExbW7vMAJCSFSkPIotk2bg0-0</string>
	<key>GCM_SENDER_ID</key>
	<string>865210992068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChatterBox.Pinterest</string>
	<key>PROJECT_ID</key>
	<string>pinterest-bb5f6</string>
	<key>STORAGE_BUCKET</key>
	<string>pinterest-bb5f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865210992068:ios:0a56284923bfbda05ed091</string>
</dict>
</plist>